.container{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
body{
    background-color: rgb(123, 79, 173);
}
h1{
    font-size: 60px;
}
p{
    font-size: 50px;
    background-color: rgb(177, 97, 127);
    padding: 40px 70px;
    margin-top:30px ;
    border-radius:20px ;

}